:root {
    --color-white: #FFFFFF;
    --color-black: #1B1F2B;

    --color-orange-1: #EFA501;
    --color-orange-2: #F8E6BE;

    --color-green-1: #286562;
    --color-green-2: #3B7E7B;

    --color-gray-1: #A6A6A6;
    --color-gray-2: #D9DFDB;
    --color-gray-3: #F1F3F2;

    --color-beige: #F4F0E9;

    --border: 2px solid var(--color-gray-2);
    --border-radius: 8px;

    --box-shadow: 0 4px 4px -4px rgba(12, 12, 13, 0.05), 0 16px 32px -4px rgba(12, 12, 13, 0.1);

    --input-height: 40px;

    --transition-duration: 0.3s;
}