.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--input-height);
  min-width: 53px;
  padding: 12px;
  color: var(--color-white);
  background-color: var(--color-green-1);
  border: 2px solid var(--color-green-1);
  border-radius: var(--border-radius);

  &:hover {
    color: var(--color-green-2);
    border: 2px solid var(--color-green-2);
    background-color: transparent;
  }

  &:active {
    color: var(--color-gray-2);
    border: 2px solid var(--color-gray-2);
    scale: 1.05;
  }
}