.field {
  position: relative;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    color: var(--color-black);
    scale: 0.7;
    translate: -1.75em -2.6em;
  }
}

.field__label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-black);
  translate: 0 -50%;
}

.field__input {
  --fieldInputPaddingX: 16px;
  --fieldSeachInputIconSize: 16px;

  width: 100%;
  height: var(--input-height);
  padding-inline: var(--fieldInputPaddingX);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover,
  &:focus {
    border-color: var(--color-green-2);
  }

  &:focus {
    background-color: transparent;
    outline: none;
  }

  &[type="search"] {
    &:placeholder-shown {
      padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize));
      background-image: url('../../icons/search-icon.svg');
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSeachInputIconSize);
      background-repeat: no-repeat;
    }
  }
}