.todo-item {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 10px;
  border: var(--border);
  border-radius: var(--border-radius);
  transition: border-color var(--transition-duration);

  &:hover {
    border-color: var(--color-orange-2);
  }

  &.is-disappearing {
    opacity: 0;
    translate: 0 -75%;
    transition: opacity calc(var(--transition-duration) * 2),
                translate calc(var(--transition-duration) * 2);
    pointer-events: none;

    & ~ .todo-item {
      translate: 0 calc((100% + var(--todoListRowGap)) * -1);
      transition: translate var(--transition-duration);
      transition-delay: var(--transition-duration);
      pointer-events: none;
    }
  }
}

.todo-item__checkbox {
  flex-shrink: 0;
  appearance: none;
  position: relative;
  width: 23px;
  height: 23px;
  margin: 0;
  border: 2px solid var(--color-black);
  border-radius: 4px;
  transition: color var(--transition-duration),
              background-color var(--transition-duration),
              border-color var(--transition-duration),
              opacity var(--transition-duration);

  &:hover {
    border-color: var(--color-orange-1);
  }

  &:active {
    border-color: var(--color-gray-2);
  }

  &:checked {
    color: var(--color-green-1);
    background-color: var(--color-green-1);
    border-color: var(--color-green-1);

    &:hover {
      background-color: var(--color-green-2);
      border-color: var(--color-green-2);
    }

    &:active {
      background-color: var(--color-gray-2);
      border-color: var(--color-gray-1);
    }

    & + .todo-item__label {
      text-decoration: line-through;
      color: var(--color-gray-1);
    }
  }

  &:not(:checked) {
    &::after {
      opacity: 0;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 16px;
    height: 16px;
    background: url('../../icons/check-white.svg') center/contain no-repeat;
  }
}

.todo-item__label {
  width: 100%;
  pointer-events: none;
  word-break: break-all;
  overflow-wrap: break-word;
  hyphens: none;
  white-space: normal;
}

.todo-item__delete-button {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-left: auto;
  padding: 0;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  border-radius: inherit;
  transition: color var(--transition-duration),
              background-color var(--transition-duration),
              scale var(--transition-duration);

  &:hover {
    color: var(--color-white);
    background-color: var(--color-orange-1);
  }

  &:active {
    scale: 1.05;
  }

  * {
    pointer-events: none;
  }
}

.todo-item__input {
  display: none;
  width: 100%;
  min-height: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  color: var(--color-black);
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  pointer-events: none;

  &:focus {
    outline: none;
  }
}

.todo-item.is-editing {
  border-color: var(--color-orange-1);
  box-shadow: 0 0 0 1px var(--color-orange-2);
  animation: pulse 1.5s infinite alternate;

  .todo-item__checkbox,
  .todo-item__delete-button {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    overflow: hidden;
    pointer-events: none;
    transition: opacity var(--transition-duration),
                transform var(--transition-duration);
  }

  .todo-item__label {
    display: none;
  }

  .todo-item__input {
    display: block;
    pointer-events: all;
  }

  .todo-item__checkbox {
    opacity: 0.5;
    pointer-events: none;
  }

  .todo-item__delete-button {
    opacity: 0.5;
    pointer-events: none;
  }
}